.App {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: black;
}

.App footer {
  margin-top: 20px;
  font-size: 14px;
  color: #878787;
  text-align: center;
}
