.Weather {
  font-family: Arial, sans-serif;
  border: 3px solid black;
  color: #111111;
  padding: 25px;
  margin: 50px 30px 50px 30px;
  border-radius: 4px;
  background-color: rgb(231, 238, 240);
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  list-style-type: none;
}

.Weather img {
  width: 60px;
  margin-right: 10px;
}

.Weather .temperature {
  font-size: 48px;
  font-weight: 400;
  margin: auto;
  line-height: 56px;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -20px;
}

.WeatherDetails {
  margin: 20px;
  font-size: 16px;
}
